.container {
  width: 100%;
  padding-top: 55px;
}

.contactsContainer {
  max-width: 1248px;
  box-shadow: 0px 25px 51px 0px #0000001c;
  border-radius: 16px;
  padding: 10px;
  padding-right: 67px;
  display: flex;
  justify-content: space-between;
  gap: 67px;
  margin: 0 auto;
  background-color: white;
}

.contactsInfoContainer {
  max-width: 491px;
  width: 100%;
  background-color: #0a033c;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.contactsTitle {
  font-size: 28px;
  font-weight: 600;
  line-height: 38.08px;
  color: #ffffff;
}

.contactsInfo {
  max-width: 328px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 30px;
}

.contactInfo {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  line-height: 21.76px;
  color: #ffffff;
}

.contactInfo svg {
  flex-shrink: 0;
}

.contactsFormContainer {
  width: 100%;
  max-width: 612px;
  margin-top: 41px;
  margin-bottom: 47px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.twoInputsContainer {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.nameInputContainer,
.lastNameInputContainer,
.emailInputContainer,
.phoneNumberInputContainer {
  max-width: 290px;
  width: 100%;
}

.successMessage {
  color: rgb(7, 167, 7);
  font-size: 14px;
}

.errorMessage {
  font-size: 14px;
  color: rgb(255, 44, 44);
}

.contactsButtonContainer {
  margin-top: 4px;
}

.contactsButtonContainer > button {
  padding: 14.5px 32px !important;
}

@media (max-width: 1024px) {
  .container {
    padding-top: 43px;
  }

  .contactsContainer {
    flex-direction: column;
    gap: 34px;
    padding: 0;
    box-shadow: none;
    max-width: 100%;
  }

  .contactsInfoContainer {
    max-width: 100%;
    height: 312px;
    padding: 30px 24px;
  }

  .contactsTitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 24.48px;
    text-align: center;
  }

  .contactInfo {
    font-size: 14px;
    line-height: 19.04px;
  }

  .contactsFormContainer {
    max-width: 100%;
    margin-top: 0;
  }

  .twoInputsContainer {
    flex-direction: column;
  }

  .nameInputContainer,
  .lastNameInputContainer,
  .emailInputContainer,
  .phoneNumberInputContainer {
    max-width: 100%;
  }

  .contactsButtonContainer > button {
    width: 100%;
  }
}
