@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/Helvetica\ Neue\ LT\ GEO\ 65\ Medium.ttf') format('opentype');
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Helvetica Neue';
  margin: 0;
}

button {
  padding: 0;
}
.container {
  height: 100%;
  padding: 0px 10% 80px 10%;
}

.outerContainer {
  display: flex;
  flex-direction: column;
}

.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  padding-top: 70px;
}

.header-mobile-background {
  display: none;
}
@media (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
  .container {
    padding: 0px 16px 10%;
  }

  .header-background {
    display: none;
  }

  .header-mobile-background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    padding-top: 70px;
  }
}
